name: ShellCheck Lint

on:
  push:
    branches: [ "main" ]
    paths: [ "**/*.sh" ]
  pull_request:         
    branches: [ "main" ]
    paths: [ "**/*.sh" ]
  workflow_dispatch:

jobs:
  shellcheck:
    name: Run ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run ShellCheck
        run: find . -type f -name "*.sh" -exec shellcheck {} +